<h4>Application Form</h4>
<form action="/logedin/jobs/{{job[0][0]}}/apply" method="post">
    <div>
        <label>Full Name</label>
        <br>
        <input type="text" required name="full_name" placeholder="Hassan Adel">
    </div>

    <br>
    <div>
        <label>Email</label>
        <br>
        <input type="email" required name="email" placeholder="HassanAdel@gmail.com">
    </div>

    <br>
    <div>
        <label>Linkedin URL</label>
        <br>
        <input type="url" name="linked">
    </div>

    <br>
    <div>
        <label>Education</label>
        <br>
        <textarea name="Education"></textarea>
    </div>

    <br>
    <div>
        <label>Work Experience</label>
        <br>
        <textarea name="work-experience"></textarea>
    </div>

    <br>
    <div>
        <input type="submit" >
    </div>

    
</form>